@*@model Product;*@
@model ICollection<RsMotores.Web.Models.Product>

@{
    ViewBag.Title = "Visualizar Produtos";
    Layout = "_Layout";

}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.NameProduct</td>
            <td>@String.Format("{0:C2}", item.Price)</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>


